<ul class="question_lists">
  <% num=0 %>
    <% @questions.each do |question| %>
      <div class="question_list">
        <div class="num"><%= num+=1 %>.</div>
        <% if user_signed_in? && current_user.id == question.user_id %>
          <%= link_to '削除', question_path(question.id), method: :delete,class: :question_delete %>
        <% end %>
        <div class="question_answer">
          <%= link_to question.user.nickname,"#",class: :q %>さんのお題
        </div>
        <% if question.image.present? %>※画像付き※
          <div class="question_image"><%= question.question %></div>
        <% else %>
          <div class="question"><%= question.question %></div>
        <% end %>
         <%= link_to "回答ページへ", question_answers_path(question.id),class: :answer_page %>
         <div class="answer_num"><%= "回答数(#{question.answers.count})" %></div>
      </div> 
    <% end %> 
</ul>