<% if @question.image.present? %>
<div class="index_main">
  <div class="inner">
    <ul class="question_lists_answer">
        <div class="question_list_answer">
         <div class="question_answer">
          <%= link_to @question.user.nickname,"#",class: :q %>さんのお題
         </div>
         <%= image_tag @question.image, class: "item-img" %>
          <div class="question"><%= @question.question %></div>
          <%= form_with model: @answer,class: :answer_form, local: true do |f|%>
          <div class="field_answer">
          <%= f.text_area :answer,maxlength:"80", rows:"4",cols:"36" %>
          </div>
          <div class="actions_answer">
          <%= f.submit "回答する", class: :form__btn__answer  %>
          </div>
          <% end %>
        </div>
    </ul>
  </div>
</div>
<% else %>
<div class="index_main">
  <div class="inner">
    <ul class="question_lists_answer">
        <div class="question_list_answer">
         <div class="question_answer">
          <%= link_to @question.user.nickname,"#",class: :q %>さんのお題
         </div>
          <div class="questions"><%= @question.question %></div>
          <%= form_with model: @answer,class: :answer_form, local: true do |f|%>
          <div class="field_answer">
          <%= f.text_area :answer,maxlength:"80", rows:"4",cols:"36" %>
          </div>
          <div class="actions_answer">
          <%= f.submit "回答する", class: :form__btn__answer  %>
          </div>
          <% end %>
        </div> 
    </ul>
  </div>
</div>
<% end %>


