<!DOCTYPE html>
<html>
  <head>
    <title>Ogiri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
        <div class="title"><%= link_to "大喜利掲示板",root_path %></div>
            <% if user_signed_in? %>
             <div class="greeting">
                おいでやす<%= link_to "#{current_user.nickname}","#",class: :greeting__link%>さん🙇
             </div> 
             <div class="nav__right"> 
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: :nav__btn %>
               <%= link_to "お題投稿", new_question_path, class: :nav__btn %>
             </div> 
          
            <% else %>
          
             <div class="nav__right">
               <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
               <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
             </div>
            <% end %>
          
      </div>
    </header>
    <%= yield %>
   <footer class="footer">
      <p class="copyright">Copyright © OGIRI KEIJIBAN All rights reserved.</p>
    </footer>
  </body>
</html>
